.all-planets{

display: flex;
overflow-y: auto;
overflow-x: auto; 
width: 100%;
}
.all-people{
display: flex;
overflow-y: auto;
overflow-x: auto; 
width: 100%;
}
.all-vehicles{
display: flex;
overflow-y: auto;
overflow-x: auto; 
width: 100%;

}
img{
width: 140px;
height: 100px;
margin-left: 5%;

}


